*{
	padding:0; margin:0;
}
body{
	background:#f4e5c5;
	font-family:"Verdana", "Areal";
}
img{
	border:none;
}
a{
	text-decoration:none; outline:none;
}
a:hover{
	text-decoration:underline;
}
.header{
	margin-top:5px;
}
.center{
	margin:0 auto;
	width:1000px;
}
.header-top:after{
	display:block;
	content:"";
	clear:both;
}
.logo, .callback, .img-header, .right-header, .left-header{
	float:left;
}
.header{
	color:#5a2e06;
}
.left-header{
	padding-top:15px;
}
.phone-li{
	font-size:19px;
	font-weight: bolder;
}
.phone-li li{
	list-style-type:none;
}
a.callback-button{
	width:240px;
	height:36px;
	display:inline-block;
	background:url(images/callback.png);
	text-align:center;
}
