*{
	padding:0; margin:0;
}
body{
	background:#f4e5c5;
	font-family:"Verdana", "Areal";
}
img{
	border:none;
}
a{
	text-decoration:none; outline:none;
}
a:hover{
	text-decoration:underline;
}
a:link{
	color:#fff;
}
.header{
	margin-top:5px;
}
.center{
	margin:0 auto;
	width:1000px;
}
.header-top{
	margin-bottom: -86px;
}
.header-top:after{
	display:block;
	content:"";
	clear:both;
}
.logo, .callback, .img-header, .right-header, .left-header{
	float:left;
}
.img-header{
	width: 161px;
}
.right-header{
	width: 210px;
	margin: 14px 0 0 -4px;
}
.header{
	color:#5a2e06;
}
.left-header{
	padding-top: 7px;
	width: 263px;
}
.phone-li{
	font-size: 19px;
	padding-left: 17px;
	font-weight: bolder;
	width: 246px;
}
.big-phon{
	font-size: 23px;
}
.phone-li li{
	list-style-type:none;
	margin-bottom: 2px;
}
.phone-li li:last-child{
	margin-bottom:5px;
}
.callback{
	margin: 3px 0 0 15px;
}
a.callback-button{
	width:240px;
	height:28px;
	display:inline-block;
	background:url(images/callback.png);
	text-align:center;
	padding-top:8px;
	font-weight: normal;
}
a:hover.callback-button{
	text-decoration: none;
}
a:visited.callback-button{
	color:#fff;
}
.adress a:hover, .adress a:link, .adress a:active{
	text-decoration:underline;
}
.adress a{
	color:#5a2e06;
}
.soc ul{
	float:right;
}
.soc ul li{
	list-style-type: none;
	float:left;
	margin:5px 0 5px 5px;
}
.serach-tex{
   	border-color: #d6d6d6 #fff #fff #d6d6d6;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    margin-right: -36px;
    margin-left:6px;
    min-height: 31px;
    min-width: 177px;
    padding-left: 10px;
    padding-right: 13px;
}
.search-button{
	vertical-align: middle;
}
.header-bottom, .wrapper{
	background: url(images/wrapper-background.jpg);
	height:106px;
	min-width:1100px;
}
a.soc1{
	display:inline-block;
	width:30px;
	height:30px;
	background:rgba(0, 0, 0, 0) url("images/soc.png") no-repeat scroll 0px -29px;
}
a:hover.soc1{
background:rgba(0, 0, 0, 0) url("images/soc.png") no-repeat scroll 0px 0px;
}
a.soc2{
	display:inline-block;
	width:30px;
	height:30px;
	background:rgba(0, 0, 0, 0) url("images/soc.png") no-repeat scroll 25% 99%;
}
a:hover.soc2{
background:rgba(0, 0, 0, 0) url("images/soc.png") no-repeat scroll 25% 0;
}
a.soc3{
	display:inline-block;
	width:30px;
	height:30px;
	background:rgba(0, 0, 0, 0) url("images/soc.png") no-repeat scroll 50% 99%;
}
a:hover.soc3{
background:rgba(0, 0, 0, 0) url("images/soc.png") no-repeat scroll 50% 0px;
}
a.soc4{
	display:inline-block;
	width:30px;
	height:30px;
	background:rgba(0, 0, 0, 0) url("images/soc.png") no-repeat scroll 75% 99%;
}
a:hover.soc4{
background:rgba(0, 0, 0, 0) url("images/soc.png") no-repeat scroll 75% 0px;
}
a.soc5{
	display:inline-block;
	width:30px;
	height:30px;
	background:rgba(0, 0, 0, 0) url("images/soc.png") no-repeat scroll 100% 99%;
}
a:hover.soc5{
background:rgba(0, 0, 0, 0) url("images/soc.png") no-repeat scroll 100% 0px;
}
.content{
	width:1000px;
	margin:0 auto;

}
.menu{
	width:100%;
	background: url(images/bg-menu.jpg ) repeat-x; 
	margin-bottom:16px;
}
.menu:after{
	display:block;
	content:"";
	clear:both;
}
.menu ul li{
	list-style-type:none;
	float:left;
	font-size:13px;
	color:#ffcd00;
}
.menu ul{
	overflow: hidden;
	width: 1073px;
}
.menu ul li:after{
	content:" | ";
}
.menu ul li:last-child:after{
	display:none;
}
.menu ul li a{
	display:inline-block;
	color:#fff;
	padding: 12px 15px 15px 15px;
}
/*info*/
.info-all:after{
	content: "";
	display: block;
	clear: both;
}
.info{
	float: left;
	width: 33%;
	position: relative;
}
.info:last-child{
	float:right;
}
.info:first-child{
	margin-right: 4px;
}
.info img{
	border: 1px solid #fff;
}
.info span{
	background: #ffcd00 none repeat scroll 0 0;
	display: inline-block;
	left: 0;
	padding-left: 12px;
	position: absolute;
	top: 7px;
	width: 91%;
	font-family: "Georgia";
	font-size: 18px;
	font-style: oblique;
	color: #5a2e06;
	font-weight: 700;
	min-height: 42px; 
}
.info span br{
	font-size: 6px;
}
/*about*/
.about{
	background: #fff;
	border: 1px solid #ffb600;
	margin-top: 16px;
	margin-bottom: 17px;
	padding: 8px 13px 30px;
	color: #1e0e00;
	font-family: "Verdana";
	font-size: 12px
}
.about h2{
	color: #5a2e06;
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 3px;
}
.about p{
	line-height: 176%
}
.footer{
	width: 1000px;
	margin: 14px auto 25px;
}
.footer:after{
	content: "";
	display: block;
	clear: both;
}
.notear:after{
	content: "";
	display: block;
	clear: both;
}
.copyrate, .notear, .soc-footer, .map, .ones, .rss{
	float: left;
	font-size: 10px;
	color: #5a2d06;
	line-height: 176%
}
.copyrate{
	margin-right: 15px;
	width: 140px;
}
.notear img{
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	vertical-align: middle;
}
.soc-footer{
	width: 200px;
	margin-right: 20px;
}
.soc-footer ul li{
	list-style-type: none;
	float:left;
	margin-right: 9px;
}
.map a{
	text-decoration: underline;
	color: #5a2d06;
}
.map{
	width: 90px;
}
.rss{
	width: 50px;
	margin-right: 20px;
}
.rss img{
	margin-right: 5px;
	vertical-align: middle;
}
.rss a{
	color: #5a2d06;
}
.aliens{
	width: 165px;
	float: right;
	font-size: 10px;
	color: #5a2d06;
	line-height: 176%
}
.aliens:after{
	content: "";
	display: block;
	clear: both;
}
.aliens a{
	text-decoration: none;
	color: #5a2d06;
	float: right;
}
.aliens p{
	float: right;
}
.ones{
	margin-right: 1px;
	width: 120px
}